@page "/categorias/index"

@inject HttpClient http

<div class="container">
    <div class="d-flex">
        <div class="form-group">
            <label>Simular erros</label>
            <input @bind="_simularErros" type="checkbox" />
        </div>
    </div>
    <div class="d-flex mb-5 justify-content-between">
        <h3>Categorias</h3>
        <a href="categorias/criar?error=@_simularErros" class="btn btn-success">Adicionar Categoria</a>
    </div>
    @if (categorias != null)
    {
        <table class="table table-borderless">
            <thead class="bg-secondary text-white">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var categoria in categorias)
                {
                    <tr>
                        <td>@categoria.Id</td>
                        <td class="col-md-8">@categoria.Nome</td>
                        <td>
                            <a href="categorias/visualizar/@categoria.Id?error=@_simularErros" class="btn btn-outline-info">Visualizar</a>
                            <a href="categorias/editar/@categoria.Id?error=@_simularErros" class="btn btn-outline-success">Editar</a>
                            <a href="categorias/remover/@categoria.Id?error=@_simularErros" class="btn btn-outline-danger">Remover</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <Aviso Show="true" Class="@_class" Message="@_mensagem"></Aviso>
    }

</div>

@code {
    private bool _simularErros = false;
    private string _class = "alert-info";
    private string _mensagem = "Carregando categorias";
    private List<Categoria> categorias;
    protected override async Task OnInitializedAsync()
    {
        try
        {
            categorias = await http.GetFromJsonAsync<List<Categoria>>("api/categorias");
        }
        catch (Exception)
        {
            _mensagem = "Ocorreu um erro ao tentar recuperar as categorias";
            _class = "alert-danger";
        }
    }
}
